ol, ul {
	list-style: none;
  padding-left: 0;
}
.cd-accordion-menu {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Roboto;
  font-size: 16px;
}
.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}
.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  padding: 18px 18px 18px 64px;
  background: #01AFE4;
  box-shadow: inset 0 -1px #17A0CC;
  color: #ffffff;
  font-size: 1.6rem;
  text-decoration: none;
  font-size: 20px;
}
.no-touch .cd-accordion-menu label:hover, .no-touch .cd-accordion-menu a:hover {
  background: #0094D2;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after, .cd-accordion-menu a::after {
  /* icons */
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu label {
  cursor: pointer;
}
.cd-accordion-menu label::before {
  background-image: url(../img/cd-icons.svg);
  background-repeat: no-repeat;
}
.cd-accordion-menu label::before {
  /* arrow icon */
  left: 18px;
  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
  background: #17A0CC;
  box-shadow: inset 0 -1px #348BA6;
}
.no-touch .cd-accordion-menu ul label:hover, .no-touch
.cd-accordion-menu ul a:hover {
  background: #158BBD;
}
.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none;
}
.cd-accordion-menu ul label::before {
  left: 20px;
}
.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
  padding-left: 50px;
  background: #348BA6;
  box-shadow: inset 0 -1px #4C7384;
}
.no-touch .cd-accordion-menu ul ul label:hover, .no-touch
.cd-accordion-menu ul ul a:hover {
  background: #347D9D;
}
.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
  background: #4C7384;
  box-shadow: inset 0 -1px #4A6B7E;
}
.no-touch .cd-accordion-menu ul ul ul label:hover, .no-touch
.cd-accordion-menu ul ul ul a:hover {
  background: #4A6B7E;
}
.cd-accordion-menu ul ul label::before {
  left: 20px;
}
.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
  padding-left: 50px;
}
.cd-accordion-menu ul ul ul label::before {
  left: 20px;
}

.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}


@media only screen and (max-width: 768px){
  .body-container{
    width: 100%;
  }
  .header-persistent-nav{
    width: 100%;
  }
  .persistent-nav{
    width: 240px;
    /*right: -280px;*/
    margin-top: 50px;
    padding-bottom: 50px
  }
  .cd-accordion-menu label, .cd-accordion-menu a {
    padding: 10px 10px 10px 50px;
  }
}
